.tag {
  display: inline-block;

  font-size: 13px;
  line-height: 1;
  border-radius: 4px;
  padding: 5px;
}

.tag.black {
  color: #fff;
  background: #000;
}

.tag.pink {
  background: pink;
}

div {
  margin-bottom: 10px;
}
